#my-info {
    /* height: 700px; */
}

.my-info__box {
    position: relative;
    top: 100px;
}

.my-info__title {
    margin-top: 60px;
}

.my-info__title h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 75px;
    color: white;
}


.my-info__info {
    margin-top: 50px;
}

.my-info__info span {
    font-weight: 600;
    color: #72a68e;
}

.my-info__info ul li {
    padding: 3px 0;
}

.my-info__story_title {
    margin-top: 70px;
}

.my-info__story_title h2 {
    font-size: 40px;
}

.my-info__story_content {
    margin-top: 30px;
}



.my-formation {
    height: 650px;
}

.my-formation__content {
    position: relative;
    top: 180px;
}

.my-formtion__title span {
    position: absolute;
    width: 150px;
    height: 1px;
    background-color: #bfd9d6;
    top: 45px;
}

.my-formation__content_box {
    margin-top: 50px;
}

.my-formation__content_boxItem h2 {
    color: #fff;
}

.my-formation__content_boxItem span {
    color: #72a68e;
}



.certificat {
    height: 650px;
}

.certificat-content {
    position: relative;
    top: 250px;
}

.certificat-1 {
    width: 100%;
    height: 300px;
    background-image: url('../images/img1.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}

.certificat-2 {
    width: 100%;
    height: 300px;
    background-image: url('../images/img2.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}

.certificat-3 {
    width: 100%;
    height: 300px;
    background-image: url('../images/img3.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}

.certificat-content__line-2 {
    display: none;
}

.certificat-content__link {
    margin-top: 20px;
}

.certificat-content__link a {
    font-size: 21px;
    border: 1px solid white;
    color: #f2f2f2;
    padding: 5px;
}



#skills {
    height: 650px;
}

.skills-content {
    position: relative;
    top: 310px;
}



/*Un fruit mur ne pourri jamais en l'air, sois patient il finira par tomber*/