.contact-title {
    margin-top: 150px;
}


.contact-info {
    margin-top: 30px;
}

.contact-info ul li {
    padding: 5px 0;
}

.contact-info span {
    font-weight: 700;
    color: #72a68e;
}


.contact-info__link {
    margin-top: 40px;
}

.contact-info__link ul {
    display: flex;
    flex-direction: row;
}

.contact-info__link a {
    padding: 0 20px;
}

.contact-info__link i {
    color: white;
    font-size: 21px;
}


.l-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    margin-top: 50px;
}

.form {
    width: 360px;
    padding: 4rem 2rem;
    border-radius: 1rem;
    background: #4995A6;
    box-shadow: 0 10px 25px rgba(214, 214, 214, 0.2);
    margin-top: 230px;
}

.form__title {
    font-weight: 700;
    margin-bottom: 3rem;
    color: #fff;
}

.form__box {
    position: relative;
    height: 58px;
    margin-bottom: 1.5rem;
}

.form__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #1e4e59;
    border: 1px solid #f2f2f2;
    border-radius: .5rem;
    outline: none;
    padding: 1rem;
    background: none;
    z-index: 1;
}

.form__label {
    position: absolute;
    left: 1rem;
    top: 1rem;
    padding: 0 .25rem;
    background-color: #4995A6;
    font-size: 18px;
    transition: .3s;
    color: #f2f2f2;
    z-index: 2;
}

.form__button {
    display: block;
    margin-left: auto;
    margin-top: 30px;
    padding: .75rem 2rem;
    outline: none;
    border: none;
    background: #1E4E59;
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 600;
    border-radius: .5rem;
    cursor: pointer;
    transition: .3s;
}

.form__button:hover {
    box-shadow: 0 10px 36px rgba(75, 75, 75, 0.15);
}


/* Input focus move up label */
.form__input:focus + .form__label {
    top: -.8rem;
    left: .8rem;
    color: #1e4e59;
    font-size: 16px;
    font-weight: 600;
    /* z-index: 10; */
}

/* Input focus sticky top label */
.form__input:not(:placeholder-shown).form__input:not(:focus) + .form__label {
    top: -.8rem;
    left: .8rem;
    font-size: 16px;
    font-weight: 600;
    z-index: 10;
}

/* Input focus */
.form__input:focus {
    border: 1px solid #1e4e59;
    color: #fff;
}



#footer {
    position: relative;
    top: 290px;
    text-align: center;
}



@media (min-width: 768px) {
    .contact-content {
        position: relative;
        top: 30px;
    }

    .l-form {
        margin-top: 0;
    }

    .form {
        margin-top: 450px;
    }
}

@media (min-width: 768px) and (min-height: 875px) {
    .contact-content {
        top: 60px;
    }

    .contact-content__info {
        position: relative;
        top: 35px;
    }

    #footer {
        top: 450px;
    }
}

@media (min-width: 768px) and (min-height: 1035px) {
    .contact-content__info {
        top: 100px;
    }

    #footer {
        top: 575px;
    }
}