#intro {
  height: 700px;
}

.intro-title {
  position: relative;
  top: 260px;
  text-align: center;
}

.intro-title h1 {
  color: #f2f2f2;
}

.intro-title a {
  position: relative;
  border: 1px solid #bfd9d6;
  padding: 12px;
  top: 40px;
  color: #f2f2f2;
}

.intro-network__contact {
  display: none;
}

.intro-info {
  position: absolute;
  height: 50px;
  top: 470px;
  right: 25px;
}

.intro-info a {
  color: #f2f2f2;
  font-weight: 600;
  font-size: 20px;
  border-bottom: 1px solid #72a68e;
}

#about {
  height: 750px;
  margin-top: 60px;
}

.about-title {
  position: relative;
  top: 50px;
}

.about-title .icon {
  font-size: 30px;
}

.about-text {
  margin-top: 60px;
}

.about-text a {
  color: #f2f2f2;
  font-weight: 600;
  font-size: 20px;
  border-bottom: 1px solid #72a68e;
}

.about-img__profile {
  margin-top: 50px;
}

.about-img__profile img {
  width: 100%;
}

#my-projects {
  height: 1200px;
}

.my-projects__title {
  margin-top: 30px;
}

.my-projects__title .icon {
  font-size: 30px;
}

.my-projects__title span {
  position: absolute;
  width: 100px;
  height: 1px;
  background-color: #bfd9d6;
  margin-top: -7px;
}



.cursor-2 {
  position: absolute;
  width: 600px;
  height: 400px;
  top: 50%;
  /* left: 50%; */
  transform: scale(0.1);
  opacity: 0;
  margin: -100px 0 0 -100px;
  background: url(../images/image-1.jpg) no-repeat 50% 50%;
  background-size: cover;
  z-index: 1;
  display: none;
}

.wrapper {
  position: relative;
  top: 100px;
  width: 100%;
  margin: auto;
  height: 100%;
}

.project {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 2;
  position: relative;
  z-index: 2;
  color: #bfd9d6;
  width: 100%;
}

.project-list {
  width: 100%;
}

.project-title h1 {
  font-weight: 400;
  font-size: 35px;
  color: white;
}

.project-list__description P {
  width: 100%;
  z-index: -2;
}

.project-list__description-right p {
  width: 100%;
  z-index: -2;
}

.project-categ {
  font-weight: 600;
  color: #72a68e;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
}

.my-projects__link {
  text-align: center;
  margin-top: 60px;
}

.my-projects__link a {
  color: #f2f2f2;
  font-weight: 600;
  font-size: 20px;
  border-bottom: 1px solid #72a68e;
}

#contacts {
  height: 650px;
  text-align: center;
}

.contacts-title {
  float: right;
}

.contacts-title h1 {
  width: 225px;
}

.contacts-title span {
  position: absolute;
  width: 100px;
  height: 1px;
  background-color: #bfd9d6;
  margin-top: 45px;
}

.contacts-adress {
  position: relative;
  top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.contacts-adress p {
  font-size: 21px;
  font-weight: 600;
}

.contacts-social__network {
  margin-top: 160px;
}

.contacts-social__network ul li {
  display: inline-block;
  padding: 7px 15px;
}

.contacts-social__network ul li a {
  color: #bfd9d6;
}

.contacts-social__network i {
  color: white;
}

.contact-link {
  margin-top: 70px;
}

.contact-link a {
  color: #bfd9d6;
  padding: 15px 10px;
  border: 1px solid white;
}

#footer {
  text-align: center;
}



@media (max-width: 304px) {
  #my-projects {
    height: 1300px;
  }
}

@media (max-width: 320px) {
  #about {
    margin-top: 100px;
  }

  #contacts {
    height: 700px;
  }
}

@media (min-width: 367px) {
  #my-projects {
    height: 1150px;
  }
}

@media (min-width: 430px) {
  #my-projects {
    margin-top: 100px;
  }
}

@media (min-width: 436px) {
  #my-projects {
    height: 1050px;
    margin-top: 100px;
  }
}

@media (min-width: 476px) {
  .contacts-adress p {
    font-size: 25px;
  }
}

@media (min-width: 486px) {
  #about {
    margin-top: 0;
  }
}

@media (min-width: 520px) {
  #my-projects {
    margin-top: 160px;
  }
}

@media (min-width: 547px) {
  #my-projects {
    height: 990px;
  }
}

@media (min-width: 576px) {
  .intro-title {
    z-index: 3;
  }

  .intro-title h1 {
    font-size: 46px;
  }

  .intro-network__contact {
    display: inline-block;
    margin-top: 475px;
  }

  .intro-network__contact span {
    display: none;
  }

  .intro-network__contact ul li {
    display: inline-block;
    margin: 0 15px;
  }

  .intro-network__contact i {
    font-size: 18px;
    color: #f2f2f2;
  }

  #about {
    height: 450px;
    margin-top: 150px;
  }

  #my-projects {
    height: 1050px;
    margin-top: 0;
  }

  .contacts-adress p {
    font-size: 30px;
  }
}

@media (min-width: 768px) {
  .intro-title {
    top: 280px;
  }

  .intro-title h1 {
    font-size: 52px;
  }

  .intro-title a {
    font-size: 21px;
  }

  .intro-info {
    top: 500px;
  }

  .intro-network__contact {
    margin-top: 505px;
  }

  .intro-network__contact ul li {
    margin: 0 20px;
  }

  .intro-network__contact i {
    font-size: 20px;
  }


  #my-projects {
    height: 980px;
    margin-top: 0;
  }

  .project-list__description-right p {
    margin-left: 30px;
  }

  .contacts-adress p {
    font-size: 37px;
  }
}

@media (min-width: 992px) {
  .intro-title {
    top: 260px;
  }

  .intro-title h1 {
    font-size: 58px;
  }

  .intro-network__contact span {
    display: inline-block;
    color: #bfd9d6;
  }

  .intro-network__contact ul li {
    margin: 0 12px;
  }

  .about-title {
    margin-top: 150px;
  }

  #my-projects {
    margin-top: 200px;
  }

  .wrapper {
    width: 80%;
  }

  .my-projects__title h1 {
    margin-left: 50px;
  }

  .my-projects__title span {
    margin-left: 50px;
  }

  .project-title h1 {
    font-size: 40px;
    margin-top: 10px;
  }

  .project-list__description-right p {
    margin-left: 50px;
  }

  #contacts {
    margin-top: 80px;
  }

  .contacts-title {
    margin-right: 80px;
  }

  .contacts-social__network ul li {
    padding: 0 25px;
  }
}

@media (min-width: 1024px) {
  .cursor-2 {
    display: block;
  }

  .project-overlay {
    display: block;
    z-index: -10;
  }
}

@media (min-width: 1200px) {
  .intro-title h1 {
    font-size: 64px;
  }

  .about-img__profile {
    display: flex;
    justify-content: center;
  }

  .about-img__profile img {
    width: 80%;
  }

  #my-projects {
    height: 850px;
  }
}
